*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

header{
    display: flex;
    height: 20vh;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.menu{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.logo-monster{
    display: flex;
    height: 60px;
}

.promo{
    display: none;
    color: white;
}

.br{
    display: flex;
    height: 80px;
    gap: 15px;
    align-items: center;
}

.globologo{
    height: 30px;
}

main{
    display: flex;
    height: 60vh;
    gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}

.texto{
    display: flex;
    flex-direction: column;
    height: 300px;
    gap: 30px;
}

.texto h1{
    font-size: 2rem;
}

.foto{
    height: 420px;
}

.background{
    display: none;
    opacity: 5%;
    position:absolute;
}

.original{
    display: none;
    color: white;
}

footer{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.flecha{
    display: flex;
    gap: 270px;
    font-size: 20px;
}

.nome{
    font-size: 0.4rem;
}

@media (min-width:1024px){
    .menu{
        display: flex;
        gap: 350px;
    }
    .promo{
        display: flex;
        font-size:0.7rem;
    }
    main{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 250px;
    }
    .background{
        display: flex;
    }
    .original{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 15px;
    }
    .logo1{
        height: 80px;
        width: 60px;
    }
}
